@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.GrupoImpostosViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Grupo de Impostos</h2>

<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="display" id="tabela" style="width:100%">
    <thead>
        <tr>
            <th style="width:20%">
                @Html.DisplayName("Nome do Grupo")
            </th>
            <th style="width:20%">
                @Html.DisplayName("Tipo do Grupo de Impostos")
            </th>
            <th style="width:35%">
                @Html.DisplayName("Tipo de Serviço")
            </th>

            <th style="width:25%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoGrupoImpostos.Descricao)
                </td>
                <td>
                    @if (item.TipoServico != null)
                    {
                        @Html.DisplayFor(modelItem => item.TipoServico.Descricao)
                    }
                    else
                    {
                        @Html.DisplayName("")
                    }
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.GrupoImpostosId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.GrupoImpostosId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Excluir", "Delete", new { id = item.GrupoImpostosId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")

    <script>

        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "url": '../Scripts/Portuguese-Brasil.json'
                }
            } );
        });

    </script>
}
