@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.ConfiguracaoViewModel>

@{
    ViewBag.Title = "Lista de Configurações";
}

<h2>Configuração</h2>

@*<p>
        @Html.ActionLink("Novo", "Create")
    </p>*@
<table class="display" id="tabela" style="width:100%">
    <thead>
    <tr>
        <th>
            @Html.DisplayName("Natureza Operação")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NaturezaOperacao.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoNotaFiscal.Ambiente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentoNotaFiscal.TipoDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroNF)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NaturezaOperacao.CodigoNaturezaOperacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaturezaOperacao.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoNotaFiscal.Ambiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocumentoNotaFiscal.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroNF)
            </td>
            <td>
                @Html.ActionLink("Alterar", "Edit", new { id = item.ConfiguracaoNFId }, new { @class = "btn btn-warning" }) 
                @Html.ActionLink("Detalhes", "Details", new { id = item.ConfiguracaoNFId }, new { @class = "btn btn-info" }) 
                @*@Html.ActionLink("Excluir", "Delete", new { id = item.ConfiguracaoNFId })*@
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")

    <script>

        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "url": '../Scripts/Portuguese-Brasil.json'
                }
            } );
        });

    </script>
}