@model ProjetoModeloDDD.MVC.ViewModels.PessoaJuridicaViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RazaoSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RazaoSocial)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CNPJ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IndicadorIE.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IndicadorIE.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.DDDCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.DDDCelular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Celular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.DDDTelefoneFixo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.TelefoneFixo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Contato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pessoa.Contato)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.TipoEnderecoPessoa.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.CEP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.CEP)
        </dd>
        <dt>
            @Html.DisplayName("Tipo de Endereço")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.TipoEnderecoPessoa.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Tipo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.Tipo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Logradouro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.Logradouro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Numero)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.Numero)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Complemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.Complemento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Bairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.Bairro)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.Municipio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnderecoPessoa.Cidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnderecoPessoa.UF)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Alterar", "Edit", new { id = Model.PessoaJuridicaId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
</p>
