@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.PessoaFisicaViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Destinatário - Pessoa Física</h2>

<p>
    @Html.ActionLink("Novo", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="display" id="tabela" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.DDDCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Celular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.DDDTelefoneFixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.TelefoneFixo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa.Contato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.DDDCelular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Celular)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.DDDTelefoneFixo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.TelefoneFixo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pessoa.Contato)
                </td>
                <td>
                    @Html.ActionLink("Alterar", "Edit", new { id = item.PessoaFisicaId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Detalhes", "Details", new { id = item.PessoaFisicaId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Excluir", "Delete", new { id = item.PessoaFisicaId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/css")

    <script>

        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "url": '../Scripts/Portuguese-Brasil.json'
                }
            } );
        });

    </script>
}
