@model ProjetoModeloDDD.MVC.ViewModels.ProdutoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Details</h2>

<div>
    <h4>ProdutoViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            <span class="conteudo_decimal" id="conteudo_decimal">
               R$ @Html.DisplayFor(model => model.Valor)
            </span>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponivel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.ClienteId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProdutoId }) |
    @Html.ActionLink("Voltar", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('.conteudo_decimal').html(
            $('#conteudo_decimal').html().replace(".", ",")             
        );
    </script>>
}